

  body {background-color: #ecb390}

  hr
   {border-style: none;
     background-color: #ecb390;
    border-top: 5px dotted grey;
    width: 10%}

  h1 {color: #df7861}
  h2 {color: #df7861}
  h3 {color: #df7861}

  a {color: #ff5151}
